
    <form class="login-form">
        <h2>Login Form</h2>
        <label>Email: <input type="text", id="email"/></label>
        <label>Password: <input type="password", id="password"/></label>
        <p>Don't Have an account?<a class="regular" href="/signup/">Sign Up</a></p>
        <button type="submit">Login</button>
    </form>
